{% extends "dashboard/dashboard_menu.html" %}
{% load static i18n compress %}
{% load compress static %}
{% load crispy_forms_tags %}
{% load formset_tags %}
{% block content %}
    <style>
        .select2-selection {
            height: 42px !important;
        }
        .select2-selection__arrow {
            height: 42px !important;
        }
        .select2-container {
            width: 100% !important;
        }
        .form-check {
            display: none;
        }
        @media (max-width: 400px) {
            .select2-container {
                min-width: 10em !important;
            }
            .stepper.stepper-horizontal {
                display:none;
            }
        }
        @media (min-width: 1025px) {
            .k-header__title .k-header__title-breadcrumbs .k-header__title-breadcrumb-separator {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: content;
                -ms-flex-pack: content;
                justify-content: content;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 0.75rem;
            }
            .k-header__title .k-header__title-breadcrumbs .k-header__title-breadcrumb-link {
                padding: 0 0.2rem 0 0;
                font-size: 1rem;
                font-weight: 500;
                color: #b2afc6;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            .k-header__title .k-header__title-breadcrumbs {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                list-style-type: none;
                margin: 0;
            }
            .k-header__title .k-header__title-title {
                padding: 0 1.25rem 0 0;
            }
            .k-header__title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: 0 2.2rem;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
            .k-header__title .k-header__title-breadcrumbs .k-header__title-breadcrumb-home > i {
                font-size: 1.15rem;
                color: #b2afc6;
            }
            .k-header__title .k-header__title-breadcrumbs .k-header__title-breadcrumb-home {
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            .k-header__title .k-header__title-breadcrumbs .k-header__title-breadcrumb-separator:after {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                content: " ";
                background: #b2afc6;
            }
        }
    </style>
    {% compress css %}
        <link href="{% static 'css/stepper.min.css' %}" type="text/css" media="all"
              rel="stylesheet">
    {% endcompress %}
    <div class="k-content k-grid__item k-grid__item--fluid k-grid k-grid--hor">
        <div id="k_header" class="k-header k-grid__item " data-kheader-minimize="on">
            <!-- begin:: Content Head -->
            <div class="k-header__title">
                <h3 class="k-header__title-title">JobAssistant</h3>
                <div class="k-header__title-breadcrumbs">
                    <a href="#" class="k-header__title-breadcrumb-home"><i class="flaticon-home-2"></i></a>
                    <span class="k-header__title-breadcrumb-separator"></span>
                    <a href="" class="k-header__title-breadcrumb-link">Resume</a>
                    <span class="k-header__title-breadcrumb-separator"></span>
                    <a href="" class="k-header__title-breadcrumb-link">Education</a>
                </div>
            </div>
        </div>
        <!-- Horizontal Steppers -->
    <div class="row">
      <div class="col-md-12">
        <!-- Steppers Wrapper -->
        <ul class="stepper stepper-horizontal">
            {% if personal %}
              <li>
                <a href="{% url 'resume:personal-update' personal_id %}">
                  <span class="circle">✔</span>
                  <span class="label">Personal</span>
                </a>
              </li>
          {% else %}
          <li>
            <a href="{% url 'resume:create-personal' %}">
              <span class="circle">?</span>
              <span class="label">Personal</span>
            </a>
          </li>
        {% endif %}
            {% if experience %}
              <li>
                <a href="{% url 'resume:experiences' %}">
                  <span class="circle">✔</span>
                  <span class="label">Experience</span>
                </a>
              </li>
          {% else %}
           <li>
            <a href="{% url 'resume:experiences' %}">
              <span class="circle">?</span>
              <span class="label">Experience</span>
            </a>
          </li>
        {% endif %}
          {% if education %}
              <li class="active">
                <a href="{% url 'resume:educations' %}">
                  <span class="circle">✔</span>
                  <span class="label">Education</span>
                </a>
              </li>
          {% else %}
          <li class="active">
            <a href="{% url 'resume:educations' %}">
              <span class="circle">?</span>
              <span class="label">Education</span>
            </a>
          </li>
        {% endif %}
          {% if reference %}
            <li>
            <a href="{% url 'resume:references' %}">
              <span class="circle">✔</span>
              <span class="label">References</span>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'resume:references' %}">
              <span class="circle">?</span>
              <span class="label">References</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <!-- /.Steppers Wrapper -->
        <form class="form-horizontal m-5" id="formset" method="post" action="{% url 'resume:educations' %}"
              data-formset-prefix="{{ formset.prefix }}">
            {% csrf_token %}
            {{ formset.management_form }}
            <div data-formset-body>
                {% for form in formset %}
                    <div class="card pb-3 mb-5" data-formset-form>
                        {% compress css %}
                            {{ formset.form.media.css }}
                        {% endcompress %}
                        {% compress js %}
                            {{ formset.form.media.js }}
                        {% endcompress %}
                        {{ form | crispy }}
                        {{ form.field.errors }}
                        <div>
                            <a href="#" style="color:red;"
                                    data-formset-delete-button>Delete Position
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <script type="form-template" data-formset-empty-form>
                {% escapescript %}
                    {% compress css %}
                        {{ formset.form.media.css }}
                    {% endcompress %}
                    {% compress js %}
                        {{ formset.form.media.js }}
                    {% endcompress %}
                        <div class="card pb-3 mb-5" id="added-form" data-formset-form>
                            {{ formset.empty_form | crispy }}
                            <div>
                                <a href="#" style="color:red;"
                                        data-formset-delete-button>Delete Position
                                </a>
                            </div>
                        </div>
                {% endescapescript %}
            </script>
            <div class="row">
                <div class="col text-center">
{#                    <button type="button" id="add-education" class="btn btn-info fillHeight flex-btn-margin right-btn"#}
{#                            style="margin-right:15px" data-formset-add>Add Education#}
{#                    </button>#}
                        <button type="button" id="add-education" class="hero-btn-sm fillHeight flex-btn-margin right-btn"
                                style="margin-right:15px" data-formset-add>Add Education
                        </button>
{#                        <button type="submit" class="btn btn-info fillHeight flex-btn-margin right-btn" id="submit-resume">#}
{#                            Save and Continue#}
{#                        </button>#}
                        <button type="submit" class="hero-btn-sm fillHeight flex-btn-margin right-btn" id="submit-resume">
                            Save and Continue
                        </button>
                </div>
            </div>
        </form>
    </div>
    {% block footer %}
        {% block extra_js %}
            <script>
                jQuery(document).ready(function ($) {
                    $("#formset").formset({
                        animateForms: true,
                        reorderMode: 'dom',
                    });
                    $('#add-education').on('click', function () {
                        let n = $('.card').length;
                        $('#id_form-MIN_NUM_FORMS').attr('value', n);
                    });
                    $('#btn-id_form-0-id').prop('aria-expanded', 'true');
                    $('#collapseid_form-0-id').prop('class', 'collapse show');
                });
            </script>
        {% endblock extra_js %}
    {% endblock %}
{% endblock %}
