{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>This is a test page</h2>
    <div>
        <ul>
            {% for cover_letter in object_list %}
                <li> Cover Letter : {{ cover_letter.job }} at {{ cover_letter.company }} | <a
                        href="{% url 'cover_letter:update-cover-letter' cover_letter.pk %}">edit</a>
{#                    <a href="{% url 'cover-letter-delete' cover_letter.pk %}">delete</a>#}
                </li>
            {% empty %}
                <li>No cover letters yet.</li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
